# Environment variables (NEVER commit these)
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

dist/
# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log


# Hosting
.vercel/
.vercel

# Logs
*.log

# Temporary files
*.tmp
temp/